.add {
	background: url(../image/icons/fam/add.png) left center no-repeat
		!important;
}

.delete {
	background: url(../image/icons/fam/delete.png) left center no-repeat
		!important;
}

.handle {
	background: url(../image/icons/fam/handle.png) no-repeat !important;
	display: inline;
	width: 20px;
	margin-left: 10px;
	height: 4px;
	overflow: hidden;
	font-size: 14px;
	cursor: pointer;
}

.transfer {
	background: url(../image/icons/fam/transfer.png) no-repeat !important;
	display: inline;
	width: 20px;
	margin-left: 10px;
	height: 4px;
	overflow: hidden;
	font-size: 14px;
	cursor: pointer;
}

.export {
	background: url(../image/icons/fam/export.png) left center no-repeat
		!important;
}

.branches_search {
	background: url(../image/icons/fam/search01.png) left center no-repeat
		!important;
}

.branches_view {
	background: url(../image/icons/fam/branches_view.png) no-repeat
		!important;
	display: inline;
	width: 20px;
	height: 4px;
	overflow: hidden;
	font-size: 14px;
	cursor: pointer;
}

.branches_edit {
	background: url(../image/icons/fam/edit.png) no-repeat !important;
	display: inline;
	width: 20px;
	margin-left: 10px;
	height: 4px;
	overflow: hidden;
	font-size: 14px;
	cursor: pointer;
}

.branches_delete {
	background: url(../image/icons/fam/trash.png) no-repeat !important;
	display: inline;
	width: 20px;
	margin-left: 10px;
	height: 4px;
	overflow: hidden;
	font-size: 14px;
	cursor: pointer;
}

.branches_restor {
	background: url(../image/icons/fam/cog.png) no-repeat !important;
	display: inline;
	width: 20px;
	margin-left: 10px;
	height: 4px;
	overflow: hidden;
	font-size: 14px;
	cursor: pointer;
}