.currentuser a:link, a:visited {
	color: #87CEFF;
	text-decoration: none;
}

.titleBanner {
	float: left;
	color: #FFFFFF;
	margin-top: 10px;
	margin-left: 40px;
	font-size: 32px;
	font-family: 黑体;
}

.currentuser a:hover, a:active {
	color: #87CEFF;
	text-decoration: underline;
}

.currentuser {
	float: right;
	color: #FFFFFF;
	margin-top: 40px;
	margin-right: 40px;
	font-size: 12px;
}

.logo_banner {
	width: 35px;
	height: 35px;
	float: left;
	background: url("../image/nshlogo.png");
}

.x-grid-record-applying {
	background: #fff8a2;
}

.x-grid-record-not-pass {
	background: #EDEDED;
}

.x-grid-record-pass {
	background: #FFC125;
}

.x-grid-record-success {
	background: #C6E2FF;
}

.x-grid-record-failed {
	background: #E0E0E0;
}